{% extends 'base.html' %}

{% block content %}
<h1>this is homepage</h1>
{% for word in product.all %}
<div class="row pt-3">
    <div class="col-2">
        <img src="{{ word.icon.url }}" class="img-fluid" onclick="window.location='{% url 'detail' word.id %}'" style="cursor:pointer"/>
    </div>
    <div class="col-4">
        <a href="{% url 'detail' word.id %}"><h1>{{ word.title }}</h1></a>
        {{ word.summary}}
    </div>
    <div class="col-4">
        <a href="javascript:{document.getElementById('upvote{{ word.id }}').submit()}"><button class="btn btn-success btn-lg btn-block">Votes{{ word.upvote_total }}</button></a>
    </div>


</div>
<form id="upvote{{ word.id}}" method="POST" action="{% url 'upvote' word.id %}">
    {% csrf_token %}
    <input type="hidden"/>
</form>
{% endfor %}
{% endblock%}